{{ ansible_managed | comment }}
# Managed by the FPC common role. Local edits will be overwritten.
{% for host in ntp_servers %}
server {{ host }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep {{ chrony_max_offset_seconds | default(1) }} 3
rtcsync
